body {
    margin: 0px;
}

/*Body Header*/
#body-header {
    height: 56vh;
    opacity: 0.8;
    background-image: url(image/macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/*Horizontal List*/
.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgray;
    border-bottom: 1px solid white;
}

.text-center {
    text-align: center;
}

#name-social-container {
    margin-top: 16vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i {
    /* color: light; */
    padding: 8px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section:nth-child(2n+1) {
    background-color: white;
}

section:nth-child(2n) {
    background-color: lightgrey;
}

/* section:target {
    background-color: cyan;
} */

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 25px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

#about {
    height: auto;
    width: 100%;
    position: relative;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.0rem;
    text-align: center;
}

#about p {
    padding-top: 5vh;
    padding-bottom: 5vh;;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-para {
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    text-align:justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.0rem;
}

/* skills section start */
.skills-display {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -8vh;
    margin-bottom: 6vh;
    justify-content: space-around;
}

.skill-progress {
    width: 250px;
    margin: 20px;
    height: auto;
    overflow: hidden;
    border-style: groove;
    border-radius: 0.8rem;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.skill-progress>div {
    text-align: center;
    border-radius: 0.8rem 0rem 0rem 0.8rem;
}   

.skill-name {
    padding: 1%;
}

.skill-name span {
    color: white;
    font-size: 0.9rem;
    margin-left: 10px;
    align-items: center;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}

.mb75px {
    margin-bottom: 75px;
}

.mb-blue {
    background-color: blue;
}

.mb-orange {
    background-color: orange;
}

.mb-red {
    background-color: red;
}

.mb-purple {
    background-color: purple;
}

.mb-green {
    background-color: green;
}

.mb-crimson {
    background-color: crimson;
}

.mb-violet {
    background-color: violet;
}

.eighty-five-percent {
    width: 85%;
    height: inherit;
}

.ninety-percent {
    width: 90%;
    height: inherit;
}

.eighty-percent {
    width: 80%;
    height: inherit;
}

.seventy-percent {
    width: 70%;
    height: inherit;
}
/* skills section end */

/*Timeline section start*/
.timeline {
    position: relative;
    width: 75%;
    /* border: 2px solid black; */
    margin-top: -8vh;
    margin-bottom: 6vh;
}

.timeline-box {
    position: relative;
    margin: 10px;
    width: 30vw;
    left: 5%;
    min-height: 150px;
    /* border: 2px solid black; */
}

.company-logo-name {
    display: flex;
    /* border: 1px solid black; */
}

.company-logo {
    /* border: 1px solid black; */
    max-height: 35px;
    width: 20%;
}

.company-logo img {
    height: 35px;
    width: 100%;
}

.name-and-desig {
    /* border: 1px solid black; */
    max-height: 35px;
    width:80%;
}

.company-name {
    /* border: 1px solid black; */
    text-align: left;
    font-weight: bold;
    padding-left:2%;
    color: red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.desig {
    /* border: 1px solid black; */
    text-align: left;
    font-size:10px;
    font-weight: bold;
    padding-left: 3%;
    color:orangered;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.work-description {
    text-align:justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
    padding-top: 5px;
    padding-left: 22%;
    font-weight: bold;
    color:cadetblue;
}

.work-duration {
    /* border: 1px solid black; */
    padding-right: 3vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
    min-height: 1vh;
    display: flex;
    flex-wrap: nowrap;
}

.work-duration1 {
    width: 24%;
    height: inherit;
    /* border: 1px dashed black; */
}

.work-duration2 {
    width: 80%;
    height: inherit;
    font-size: 9px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    color: blue;
    /* border: 1px dashed black; */
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top: 11vh;
    right: -12.8%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
}

.timeline-box:nth-child(2n)::after {
    content: '';
    position: absolute;
    top: 35%;
    right: 105.8%;
    border-radius: 15%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
}

/* .timeline-box::after {
    content: '';
    position: absolute;
    top: 25%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
} */

.timeline-divider {
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 11%;
    left: 51%;
}

.timeline-traveller {
    position: sticky;
    top: 50%;
    margin-top: -0.9vh;
    transform: rotate(90deg);
}
/*Timeline section end*/

/*Portfolio section start*/
#portfolio {
    margin-top: -18vh;
}

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px;
    margin-top: -6vh;
    margin-bottom: 6vh;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    /* display: none; */
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: justify;
    padding: 10px;
    /* background-color: white; */
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    /* display: block; */
    color: white;
}
/*Portfolio section end*/

/*Contact section start*/
#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
    text-align: justify;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my-details-info-container span {
    margin-left: 0.4rem;
    font-size: 0.95rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}

#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: var(--contact-light-text-color);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    /*#1a1a1a;*/
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/*Contact section end*/